// Place all the styles related to the states controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.styleBox {
    border: 1px solid black;
    background: #f44336;
    width: 500px;
    

}